<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/break-point.css" />
  <link rel="stylesheet" href="/css/animation.css" />

  <style>
    /* CURSOR ANIMATION */
    .cursor {
      position: fixed;
      width: 50px;
      height: 50px;
      border: 1px solid #c6c6c6;
      border-radius: 50%;
      left: 0;
      top: 0;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: 0.15s;
    }

    .cursor2 {
      position: fixed;
      width: 10px;
      height: 10px;
      background-color: #c6c6c6;
      border-radius: 50%;
      left: 0;
      top: 0;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: 0.2s;
    }

    .loading-text {
      width: 100px;
      height: 100px;
      position: absolute;
      font-size: 60px;
      top: 50%;
      right: 50%;
      margin-top: -50px;
      margin-right: -50px;
      color: #fff;
      z-index: 100;
    }
    /* hamburger */
    .hamburger {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
      transition-property: opacity, filter, transform;
      transition-duration: 0.4s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0 10rem;
      overflow: visible;
      z-index: 100;
    }

    .hamburger:hover {
      opacity: 0.7;
      transform: translateY(-0.5rem);
    }

    .hamburger.is-active:hover {
      opacity: 0.7;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #fff;
    }

    .hamburger-box {
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
    }

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
      content: "";
      display: block;
    }

    .hamburger-inner::before {
      top: -10px;
    }

    .hamburger-inner::after {
      bottom: -10px;
    }

    .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }

    .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    @media screen and (min-width: 100px) {
      .hamburger {
        padding: -1rem 0;
        margin-right: 0;
      }

      .hamburger-box {
        width: 20px;
        height: 14px;
      }
    }

    @media (min-width: 1201px) {
      .wrapper .landing section .content .features {
        width: 20%;
        margin-top: 6rem;
      }

      .wrapper .landing section .content .features .feature .wrap h1 {
        font-size: 1rem;
        bottom: 0.25rem;
      }

      .wrapper .landing section .content .features .feature .wrap p {
        font-size: 0.6rem;
        line-height: 1.5em;
      }
      .wrapper .landing section .content .extra .love {
        margin-top: 3rem;
      }
      .wrapper .landing section .content .extra .love .content p {
        width: 12rem;
      }
    }

    @media screen and (max-width: 480px) {
      .wrapper .circle-outer {
        height: 35.25rem;
        width: 35.25rem;
        margin-left: -18rem;
        margin-top: -18rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }

      .wrapper .bg {
        position: absolute;
        margin: auto;
        inset: -100px 0 0 -40px;
        height: 60rem;
      }

      .wrapper .circle-inner {
        display: none;
      }

      .wrapper .landing aside {
        width: 50px;
      }
      .wrapper .landing aside .social {
        display: none;
      }
      .wrapper .landing aside .connect ul {
        display: none;
      }

      .wrapper .landing aside .logo {
        height: 3rem;
      }

      .wrapper .landing aside .logo img {
        margin-left: 5rem;
        margin-top: 3rem;
        width: 5rem;
      }

      .wrapper .landing aside .border {
        display: none;
      }

      .wrapper .landing section .content {
        position: relative;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        color: #fff;
      }

      .wrapper .landing section .content .features {
        display: none;
      }
      .wrapper .landing section .content .theme h2 {
        font-size: 1.5em;
        right: 0;
      }
      .wrapper .landing section .content .theme h2 .wrap span {
        font-size: 1em;
        right: 0;
      }
      .wrapper .landing section .content .theme {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        bottom: 10.75rem;
        margin-right: 8.375rem;
      }

      .wrapper .landing section .content .theme h1 {
        font-size: 4em;
        font-weight: 500;
      }
      .wrapper .landing section .content .theme p {
        font-size: 1rem;
        padding: 23px 12px;
      }
      .wrapper .landing section .content .theme .bar {
        display: none;
      }
      .wrapper .landing section .content .extra {
        width: 90%;
        height: 0vh;
        position: relative;
      }

      .wrapper .landing section .content .extra .love {
        position: absolute;
        bottom: 15.5rem;
        display: flex;
      }

      .wrapper .landing section .content .extra .scroll {
        position: absolute;
        bottom: 8.5rem;
        right: 112px;
        display: flex;
        align-items: center;
      }
      .wrapper .landing section .content .indicator {
        display: none;
      }

      /* MAIN */

      main header {
        max-width: 95%;
      }
      main header .logo img {
        width: 4rem;
      }
      main header nav {
        display: none;
      }
      main .intro_section {
        width: 95%;
        margin: 1rem auto;
      }
      main .intro_section h1 {
        font-size: 1.75rem;
      }
      main .intro_section p {
        width: 100%;
        font-size: 1rem;
      }
      main .intro_section a {
        width: 80%;
      }
    }

    @media (min-width: 481px) and (max-width: 768px) {
      .wrapper .circle-outer {
        height: 35.25rem;
        width: 35.25rem;
        margin-left: -18rem;
        margin-top: -18rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }

      .wrapper .bg {
        position: absolute;
        margin: auto;
        inset: -100px 0 0 -40px;
        height: 60rem;
      }

      .wrapper .circle-inner {
        display: none;
      }

      .wrapper .landing aside {
        width: 50px;
      }
      .wrapper .landing aside .social {
        display: none;
      }
      .wrapper .landing aside .connect ul {
        display: none;
      }

      .wrapper .landing aside .logo {
        height: 3rem;
      }

      .wrapper .landing aside .logo img {
        margin-left: 5rem;
        margin-top: 3rem;
        width: 4rem;
      }

      .wrapper .landing aside .border {
        display: none;
      }

      .wrapper .landing section .content {
        position: relative;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        color: #fff;
      }

      .wrapper .landing section .content .features {
        display: none;
      }
      .wrapper .landing section .content .theme h2 {
        font-size: 1.5em;
        right: 0;
      }
      .wrapper .landing section .content .theme h2 .wrap span {
        font-size: 1em;
        right: 0;
      }
      .wrapper .landing section .content .theme {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        bottom: 10.75rem;
        margin-right: 8.375rem;
      }

      .wrapper .landing section .content .theme h1 {
        font-size: 6em;
        font-weight: 500;
      }
      .wrapper .landing section .content .theme p {
        font-size: 1.5rem;
        padding: 23px 12px;
      }
      .wrapper .landing section .content .theme .bar {
        display: none;
      }
      .wrapper .landing section .content .extra {
        width: 90%;
        height: 0vh;
        position: relative;
      }

      .wrapper .landing section .content .extra .love {
        position: absolute;
        bottom: 15.5rem;
        display: flex;
      }

      .wrapper .landing section .content .extra .scroll {
        position: absolute;
        bottom: 8.5rem;
        right: 112px;
        display: flex;
        align-items: center;
      }
      .wrapper .landing section .content .indicator {
        display: none;
      }
      /* MAIN */

      main header {
        max-width: 90%;
      }
      main .intro_section {
        width: 90%;
        margin: 1rem auto;
      }
      main .intro_section a {
        width: 80%;
      }
      main header nav {
        display: none;
      }
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      .wrapper .circle-outer {
        height: 35.25rem;
        width: 35.25rem;
        margin-left: -18rem;
        margin-top: -18rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }

      .wrapper .bg {
        position: absolute;
        margin: auto;
        inset: -100px 0 0 -40px;
        height: 60rem;
      }

      .wrapper .circle-inner {
        display: none;
      }

      .wrapper .landing aside {
        width: 50px;
      }
      .wrapper .landing aside .social {
        display: flex;
      }
      .wrapper .landing aside .connect ul {
        display: flex;
      }

      .wrapper .landing aside .logo {
        height: 3rem;
      }

      .wrapper .landing aside .logo img {
        margin-left: 5rem;
        margin-top: 3rem;
        width: 8rem;
      }

      .wrapper .landing aside .border {
        display: flex;
      }

      .wrapper .landing section .content {
        position: relative;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        color: #fff;
      }

      .wrapper .landing section .content .features {
        display: none;
      }
      .wrapper .landing section .content .theme h2 {
        font-size: 1.5em;
        right: 0;
      }
      .wrapper .landing section .content .theme h2 .wrap span {
        font-size: 1em;
        right: 0;
      }
      .wrapper .landing section .content .theme {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        bottom: 10.75rem;
        margin-right: 8.375rem;
      }

      .wrapper .landing section .content .theme h1 {
        font-size: 6em;
        font-weight: 500;
      }
      .wrapper .landing section .content .theme p {
        font-size: 1.5rem;
        padding: 23px 12px;
      }
      .wrapper .landing section .content .theme .bar {
        display: none;
      }
      .wrapper .landing section .content .extra {
        width: 90%;
        height: 0vh;
        position: relative;
      }

      .wrapper .landing section .content .extra .love {
        position: absolute;
        bottom: 15.5rem;
        display: flex;
      }

      .wrapper .landing section .content .extra .scroll {
        position: absolute;
        bottom: 8.5rem;
        right: 112px;
        display: flex;
        align-items: center;
      }
      .wrapper .landing section .content .indicator {
        display: none;
      }
      /* MAIN */
      main section {
        max-width: 100%;
      }
      main header {
        max-width: 90%;
      }
      main .intro_section {
        width: 90%;
        margin: 1rem auto;
      }
    }

    @media (min-width: 1025px) and (max-width: 1200px) {
    }
  </style>
</head>
