<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/main' ? 'active' : '' %>" href="/main"> Home </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/main' ? 'active' : '' %>" href="/main">
        About Me
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">
        Portfolios
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
      >
        Blogs
      </a>
    </li>
  </ul>
  <div class="cursor"></div>
  <div class="cursor2"></div>
</nav>
