<!DOCTYPE html>
<html lang="en">
  <%-include('includes/head.ejs') %>
  <body>
    <!-- <div class="loading-text">0%</div> -->
    <div class="wrapper">
      <img class="bg" src="/img/myProfile.png" alt="profile" />

      <div class="circle-outer">
        <div class="circle-inner"></div>
      </div>

      <div class="landing">
        <aside>
          <div class="logo">
            <img src="/img/logo.png" alt="" />
          </div>

          <div class="connect">
            <ul>
              <li>
                <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-github"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-codepen"></ion-icon></a>
              </li>
            </ul>
          </div>

          <div class="border"></div>

          <div class="social">
            <ul>
              <li>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-medium"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
              </li>
            </ul>
          </div>
        </aside>

        <section>
          <header>
            <nav>
              <button class="hamburger hamburger--spin" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </nav>
          </header>

          <div class="content">
            <div class="features">
              <div class="feature">
                <span></span>
                <div class="wrap">
                  <h1>Self-taught Front End Developer</h1>
                  <p>
                    I've been building websites since 2020 with a focus on
                    responsive design, accessibility and pleasing aesthetics.
                  </p>
                </div>
              </div>

              <div class="feature">
                <span></span>
                <div class="wrap">
                  <h1>Motivated Scholar</h1>
                  <p>I’m a school-taught Mathematics Scholar from Nigeria.</p>
                </div>
              </div>
            </div>

            <div class="theme active">
              <h2>
                <span class="wrap"> + <span>Salut</span> + </span>
              </h2>
              <h1>
                <span class="wrap">tobi</span>
              </h1>
              <p>I make things work...</p>

              <div class="next">
                <a href="#main">
                  <h3>
                    <span
                      ><ion-icon
                        class="bounce"
                        name="arrow-down-outline"
                      ></ion-icon></span
                    >scroll
                  </h3>
                </a>
              </div>

              <div class="bar"></div>
            </div>

            <div class="extra">
              <div class="half-num">
                <h1><span class="wrap">02 </span></h1>
                <ion-icon class="ion" name="arrow-back-outline"></ion-icon>
              </div>
              <div class="love">
                <div class="go"><span>?</span></div>
                <div class="content">
                  <h4>what i do</h4>
                  <p>
                    I build websites and web applications with a focus on
                    responsive design, software scalability and accessibility.
                  </p>
                </div>
              </div>

              <div class="scroll">
                <div class="scroll-widget">
                  <ion-icon name="caret-back-outline"></ion-icon>
                  <span class="circle"></span>
                  <ion-icon name="caret-forward-outline"></ion-icon>
                </div>

                <h3>scroll for next</h3>
              </div>
            </div>

            <div class="indicator">
              <ul>
                <li><span></span></li>
                <li><span></span></li>
              </ul>
            </div>
          </div>
        </section>
      </div>

      <div class="cursor"></div>
      <div class="cursor2"></div>
    </div>

    <main class="main" id="main">
      <header>
        <div class="logo"><img src="/img/logo.png" alt="logo" /></div>
        <nav>
          <ul>
            <li><a href="/about">about</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/articles">articles</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </nav>
      </header>

      <section class="intro_section">
        <h1>Hello, I'm Tobi Adesokan <span>🙂</span></h1>
        <div class="intro_subtitle">
          <p>
            I’m a self-taught Front End Developer and school-taught Mathematics
            Scholar from Nigeria.
          </p>
          <p>
            I've been
            <span class="highlight">building websites since 2020</span> with a
            focus on responsive design, accessibility, software scalability and
            pleasing aesthetics.
          </p>
          <p>
            I am a
            <span class="highlight">mathematics and a scientist</span>
            during the day and a full-time
            <span class="highlight">software engineer</span> every other time.
            You can always catch me either talking tech or building with
            technology.
          </p>
        </div>

        <a href="/about" class="btn">more about me</a>
      </section>

      <svg
        viewBox="0 0 500 150"
        preserveAspectRatio="none"
        style="height: 20%; width: 100%"
      >
        <path
          d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: var(--shade-100)"
        ></path>
        <path
          class="neon-path"
          d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98"
          style="stroke: var(--neon-color); fill: none"
        ></path>
      </svg>
      <section class="about-section"></section>
    </main>

    <script src="/js/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <!-- GSAP ANIMATION -->
    <script src="/js/gsap.js"></script>
  </body>
</html>
