<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/break-point.css" />

    <style>
      /* CURSOR ANIMATION */
      .cursor {
        position: fixed;
        width: 50px;
        height: 50px;
        border: 1px solid #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.15s;
      }

      .cursor2 {
        position: fixed;
        width: 10px;
        height: 10px;
        background-color: #c6c6c6;
        border-radius: 50%;
        left: 0;
        top: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.2s;
      }

      .loading-text {
        width: 100px;
        height: 100px;
        position: absolute;
        font-size: 60px;
        top: 50%;
        right: 50%;
        margin-top: -50px;
        margin-right: -50px;
        color: #fff;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <!-- <div class="loading-text">0%</div> -->
    <div class="wrapper">
      <img class="bg" src="/img/myProfile.png" alt="profile" />

      <div class="circle-outer">
        <div class="circle-inner"></div>
      </div>

      <div class="landing">
        <aside>
          <div class="logo">
            <img src="/img/logo.png" alt="" />
          </div>

          <div class="connect">
            <ul>
              <li>
                <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-github"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-codepen"></ion-icon></a>
              </li>
            </ul>
          </div>

          <div class="border"></div>

          <div class="social">
            <ul>
              <li>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-medium"></ion-icon></a>
              </li>
              <li>
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
              </li>
            </ul>
          </div>
        </aside>

        <section>
          <header>
            <nav>
              <button class="hamburger hamburger--spin" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </nav>
          </header>

          <div class="content">
            <div class="features">
              <div class="feature">
                <span></span>
                <div class="wrap">
                  <h1>Music Lover</h1>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Corrupti, suscipit!
                  </p>
                </div>
              </div>

              <div class="feature">
                <span></span>
                <div class="wrap">
                  <h1>Mathematics Scholar</h1>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Corrupti, suscipit!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="cursor"></div>
      <div class="cursor2"></div>
    </div>

    <script src="/js/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <!-- GSAP ANIMATION -->
    <script src="/js/gsap.js"></script>
  </body>
</html>
