<!DOCTYPE html>
<html lang="en">
  <%-include('includes/head.ejs') %>

  <body style="overflow: hidden">
    <!-- <div class="loading-text">0%</div> -->
    <!-- OVERYLAY -->
    <section class="text">
      <h1>
        <span data-char="T">T</span>
        <span data-char=".">o</span>
        <span data-char="B">B</span>
        <span data-char=".">I</span>
        <span data-char="A">A</span>
        <span data-char=".">D</span>
        <span data-char="E">E</span>
        <span data-char=".">S</span>
        <span data-char="O">O</span>
        <span data-char=".">K</span>
        <span data-char="A">A</span>
        <span data-char=".">N</span>
      </h1>
      <div class="preloader">
        <div class="overlay first"></div>
        <div class="overlay second"></div>
        <div class="overlay third"></div>
      </div>
    </section>

    <!-- OVERYLAY ENDS-->

    <!-- PRELOADER -->
    <div id="smooth-content">
      <div class="wrapper">
        <img class="bg" src="/img/myProfile.png" alt="profile" />

        <div class="circle-outer">
          <div class="circle-inner"></div>
        </div>

        <div class="landing">
          <aside>
            <div class="logo">
              <img src="/img/logo.png" alt="" />
            </div>

            <div class="connect">
              <ul>
                <li>
                  <a href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-github"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-codepen"></ion-icon>
                  </a>
                </li>
              </ul>
            </div>

            <div class="border"></div>

            <div class="social">
              <ul>
                <li>
                  <a href="#">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-medium"></ion-icon>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>
              </ul>
            </div>
          </aside>

          <section>
            <header>
              <nav>
                <button class="hamburger hamburger--spin" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </nav>
            </header>

            <div class="content">
              <div class="features">
                <div class="feature">
                  <span></span>
                  <div class="wrap">
                    <h1>Self-taught Front End Developer</h1>
                    <p>
                      I've been building websites since 2020 with a focus on
                      responsive design, accessibility and pleasing aesthetics.
                    </p>
                  </div>
                </div>

                <div class="feature">
                  <span></span>
                  <div class="wrap">
                    <h1>Motivated Scholar</h1>
                    <p>I’m a school-taught Mathematics Scholar from Nigeria.</p>
                  </div>
                </div>
              </div>

              <div class="theme active">
                <h2>I'm</h2>
                <h1>
                  <span class="wrap">tobi</span>
                </h1>
                <p>I make things work...</p>
              </div>

              <div class="extra">
                <div class="love">
                  <div class="go"><span>?</span></div>
                  <div class="content">
                    <h4>what i do</h4>
                    <p>
                      I build websites and web applications with a focus on
                      responsive design, software scalability and accessibility.
                    </p>
                  </div>
                </div>

                <div class="scroll">
                  <div class="next">
                    <a href="/main">
                      <h3>
                        <span>
                          <ion-icon
                            class="bounce"
                            name="arrow-down-outline"
                          ></ion-icon>
                        </span>
                      </h3>
                    </a>
                  </div>
                </div>
              </div>

              <div class="indicator">
                <ul>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="cursor"></div>
      <div class="cursor2"></div>
    </div>
    <script src="/js/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js"></script>
    <!-- GSAP ANIMATION -->
    <script src="/js/gsap.js"></script>
  </body>
</html>
