/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (max-width: 480px) {
  .wrapper .circle-outer {
    height: 35.25rem;
    width: 35.25rem;
    margin-left: -18rem;
    margin-top: -18rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .wrapper .bg {
    position: absolute;
    margin: auto;
    inset: -100px 0 0 -40px;
    height: 60rem;
  }

  .wrapper .circle-inner {
    display: none;
  }

  .wrapper .landing aside {
    width: 50px;
  }

  .wrapper .landing aside .logo {
    height: 3rem;
  }

  .wrapper .landing aside .logo img {
    margin-left: 5rem;
    margin-top: 3rem;
    width: 8rem;
  }

  .wrapper .landing aside .border {
    margin-left: 25px;
  }

  .wrapper .landing section .content {
    display: none;
  }

  .hamburger {
    padding: -1rem 0 0 0;
    margin: 0;
  }

  .hamburger-box {
    width: 20px;
    height: 14px;
  }
}
