@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400;600&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  position: relative;
}

.wrapper {
  background: #636363;
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;

  filter: blur(0);
}

.wrapper .bg {
  position: absolute;
  margin: auto;
  inset: -10px 0 0 0;
}

.wrapper .circle-outer {
  height: 106.25rem;
  width: 106.25rem;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -53.125rem;
  top: 50%;
  margin-top: -53.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .circle-inner {
  height: 50rem;
  width: 50rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: inherit;
}

.wrapper .landing {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  box-shadow: inset 0 0 300px black;
  background: radial-gradient(circle, rgba(62, 62, 62, 0) -10%, black 100%);
}

.wrapper .landing aside {
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.wrapper .landing aside .logo {
  height: 6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .landing aside .logo img {
  margin-left: 5rem;
}

.wrapper .landing aside .border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.164);
  height: 30%;
  margin-left: 40px;
}

.wrapper .landing aside .connect ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .landing aside .connect ul li {
  margin-top: 20px;
  list-style: none;
  transition: 0.5s;
}

.wrapper .landing aside .connect ul li a {
  color: white;
  font-size: 1rem;
}
.wrapper .landing aside .connect ul li:hover {
  transform: scale(1.7);
}

.wrapper .landing aside .social {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .landing aside .social ul li {
  margin-top: 20px;
  list-style: none;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.wrapper .landing aside .social ul li a {
  color: white;
  font-size: 1rem;
}

.wrapper .landing aside .social ul li:hover {
  transform: scale(1.7);
}

.wrapper .landing section {
  width: 100%;
}
.wrapper .landing section header {
  padding: 0 1.5rem;
  padding-top: 1.43rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

/* hamburger */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter, transform;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 10rem;
  overflow: visible;
  z-index: 100;
}

.hamburger:hover {
  opacity: 0.7;
  transform: translateY(-0.5rem);
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper .landing section .content {
  position: relative;
  width: inherit;
  display: flex;
  color: #fff;
}

.wrapper .landing section .content .features {
  font-family: "Mada", sans-serif;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100vh;
  bottom: 80px;
}

.wrapper .landing section .content .features .feature {
  width: 16.5rem;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

.wrapper .landing section .content .features .feature span {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  margin-bottom: 1.25rem;
  background-color: #ee5454;
  position: absolute;
  bottom: 4rem;
}
.wrapper .landing section .content .features .feature:nth-child(2) span {
  height: 2rem;
}

.wrapper .landing section .content .features .feature .wrap {
  overflow: hidden;
}

.wrapper .landing section .content .features .feature .wrap h1 {
  font-size: 1.5rem;
  bottom: 0.25rem;
  letter-spacing: 2px;
}

.wrapper .landing section .content .features .feature .wrap p {
  font-size: 0.8rem;
  line-height: 1.5em;
  color: #a8a8a8;
}
