@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@400;600&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Raleway", sans-serif; */
  position: relative;
}

.wrapper {
  background: #636363;
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: blur(0);
}

.wrapper .bg {
  position: absolute;
  margin: auto;
  inset: -10px 0 0 0;
}

.wrapper .circle-outer {
  height: 106.25rem;
  width: 106.25rem;
  border: 2px solid #fff;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  margin-left: -53.125rem;
  top: 50%;
  margin-top: -53.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .circle-inner {
  height: 50rem;
  width: 50rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: inherit;
}

.wrapper .landing {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  box-shadow: inset 0 0 300px black;
  background: radial-gradient(circle, rgba(62, 62, 62, 0) -10%, black 100%);
}

.wrapper .landing aside {
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.wrapper .landing aside .logo {
  height: 6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .landing aside .logo img {
  width: 6rem;
  margin-left: 5rem;
}

.wrapper .landing aside .border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.164);
  height: 30%;
  margin-left: 40px;
}

.wrapper .landing aside .connect ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .landing aside .connect ul li {
  margin-top: 20px;
  list-style: none;
  transition: 0.5s;
}

.wrapper .landing aside .connect ul li a {
  color: white;
  font-size: 1rem;
}
.wrapper .landing aside .connect ul li:hover {
  transform: scale(1.7);
}

.wrapper .landing aside .social {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .landing aside .social ul li {
  margin-top: 20px;
  list-style: none;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.wrapper .landing aside .social ul li a {
  color: white;
  font-size: 1rem;
}

.wrapper .landing aside .social ul li:hover {
  transform: scale(1.7);
}

.wrapper .landing section {
  width: 100%;
}

.wrapper .landing section header {
  padding: 0 1.5rem;
  padding-top: 1.43rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.wrapper .landing section .content {
  position: relative;
  width: inherit;
  display: flex;
  color: #fff;
}

.wrapper .landing section .content .features {
  font-family: "Mada", sans-serif;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100vh;
  bottom: 80px;
}

.wrapper .landing section .content .features .feature {
  width: 16.5rem;
  transform: rotate(0deg);
  height: 16.5rem;
}
.wrapper .landing section .content .features .feature:hover {
}

.wrapper .landing section .content .features .feature span {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  margin-bottom: 1.25rem;
  background-color: #ee5454;
  position: absolute;
  bottom: 4rem;
}

.wrapper .landing section .content .features .feature:nth-child(2) span {
  height: 2rem;
}

.wrapper .landing section .content .features .feature .wrap {
  overflow: hidden;
}

.wrapper .landing section .content .features .feature .wrap h1 {
  font-size: 1.5rem;
  bottom: 0.25rem;
  letter-spacing: 2px;
}

.wrapper .landing section .content .features .feature .wrap p {
  font-size: 0.8rem;
  line-height: 1.5em;
  color: #a8a8a8;
}

.wrapper .landing section .content .theme {
  width: 40%;
  margin-right: 19.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 8.75rem;
}

.wrapper .landing section .content .theme h2 {
  text-transform: capitalize;
  color: #ee5454;
  font-size: 1.5em;
  align-self: flex-start;
  overflow: hidden;
  position: relative;
  right: -5rem;
}

.wrapper .landing section .content .theme h2 .wrap {
  position: relative;
}

.wrapper .landing section .content .theme h2 .wrap span {
  position: relative;
  font-size: 2em;
  font-weight: 400;
  margin: 0 10px;
  color: #fff;
  top: 5px;
}

.wrapper .landing section .content .theme h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 10em;
  font-weight: 600;
  overflow: hidden;
}

.wrapper .landing section .content .theme h1 .wrap {
  position: relative;
}

.wrapper .landing section .content .theme p {
  text-transform: capitalize;
  /* font-style: italic; */
  font-size: 2.6em;
  font-weight: 200;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  display: flex;
  align-self: flex-end;
  padding: 2px 20px;
}
.wrapper .landing section .content .theme .next a {
  text-decoration: none;
  color: white;
}
.wrapper .landing section .content .theme .next h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 5rem;
  gap: 2rem;
  font-weight: 400;
}
.wrapper .landing section .content .theme .next h3 span .bounce {
  border: 1px solid #ee5454;
  height: 2rem;
  padding: 0.3rem;
  border-radius: 2.5rem;
  color: #ee5454;
  font-size: 1rem;
  animation: bounce 1.5s infinite;
}
.wrapper .landing section .content .theme .bar {
  width: 31.25rem;
  height: 5px;
  background-color: #505050;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  margin-left: 18rem;
}

.wrapper .landing section .content .theme .bar::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}

.wrapper .landing section .content .extra {
  width: 20%;
  height: 100vh;
  position: relative;
}

.wrapper .landing section .content .extra .half-num {
  position: relative;
  top: 6.25rem;
  left: 4.375rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.wrapper .landing section .content .extra .half-num h1 {
  font-size: 8em;
  font-weight: 200;
  position: relative;
  right: 2.5rem;
  font-family: "Merriweather", serif;
}

.wrapper .landing section .content .extra .ion {
  color: #ee5454;
  font-size: 2rem;
  font-weight: 200;
  transition: 0.8s transform linear;
}

.wrapper .landing section .content .extra .ion:hover {
  transform: translateX(-2rem);
}

.wrapper .landing section .content .extra .love {
  position: absolute;
  bottom: 17.5rem;
  /* display: flex; */
}
.wrapper .landing section .content .extra .love .go {
  width: 2.5625rem;
  height: 2.5625rem;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 13px;
  border-radius: 50%;
  background-color: #ee5454;
}

.wrapper .landing section .content .extra .love .go span {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
}
.wrapper .landing section .content .extra .love .content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper .landing section .content .extra .love .content h4 {
  font-size: 1em;
  text-transform: capitalize;
  position: relative;
  margin-top: 2rem;
  bottom: 10px;
}

.wrapper .landing section .content .extra .love .content h4::before {
  content: "";
  display: block;
  margin-bottom: 1.25rem;
  width: 1.875rem;
  height: 4px;
  background-color: #ee5454;
  position: absolute;
  bottom: 8px;
}

.wrapper .landing section .content .extra .love .content p {
  font-size: 12px;
  line-height: 1.5em;
  color: #a8a8a8;
  width: 15rem;
}

.wrapper .landing section .content .extra .scroll {
  position: absolute;
  bottom: 7.5rem;
  right: 0;
  display: flex;
  align-items: center;
}
.wrapper .landing section .content .extra .scroll .scroll-widget {
  display: flex;
  align-items: center;
}
.wrapper .landing section .content .extra .scroll .scroll-widget .circle {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 2px;
}
.wrapper .landing section .content .extra .scroll h3 {
  font-family: "Mada", sans-serif;
  font-size: 14px;
  margin-left: 20px;
}

.wrapper .landing section .content .indicator {
  position: absolute;
  top: 40%;
  right: 30px;
}

.wrapper .landing section .content .indicator ul li {
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
}

.wrapper .landing section .content .indicator ul li span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}

.wrapper .landing section .content .indicator ul li span:hover {
  background-color: #ee5454;
}
.wrapper .landing section .content .indicator ul li span:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  display: block;
  border-radius: 50%;
  position: relative;
  right: 8px;
  bottom: 8px;
}

/* MAIN SECTION */
:root {
  --shade-300: #8a8a8a;
  --shade-500: #3d3d3d;
  --main-color: #ee5454;
  --grey-text: #595959;
}

main {
  background-color: #fafafa;
  height: 1500px;
  font-family: "Inter", sans-serif;
}
main section {
  max-width: 70%;

  margin: 0 auto;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  max-width: 100%;
}

main header .logo {
  height: 4rem;
  display: flex;
  align-items: center;
}

main header .logo img {
  width: 5rem;
}
main header nav {
  /* display: none; */
}
main header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

main header nav li {
  text-transform: uppercase;
}
main header nav ul li a {
  color: #000;
  letter-spacing: 2px;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

main header nav ul li a:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 50%;
  background-color: var(--main-color);
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.6;
  max-width: 0;
  transition: 0.8s max-width;
}

main header nav ul li a:hover,
main header nav ul li a:active {
  outline: none;
}
main header nav ul li a:hover:before,
main header nav ul li a:active:before {
  max-width: 10rem;
}

main .intro_section {
  display: flex;
  flex-direction: column;

  width: 70%;
  margin: 4rem auto;
}

main .intro_section h1 {
  font-size: 2.5rem;
  color: var(--shade-500);
  font-weight: 600;
  margin-bottom: 1rem;
}

main .intro_section p {
  color: var(--grey-text);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
main .intro_section p .highlight {
  text-decoration: underline;
  transition: 0.5s ease;
}

main .intro_section p .highlight:hover {
  background-color: var(--main-color);

  color: #000;
}
main .intro_section .intro_btn {
  width: 30%;
  align-self: center;
  border: none;
  border-radius: 200px;
  background-color: inherit;
  margin-top: 4rem;
}

main .intro_section .intro_btn a {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: var(--grey-text);
  text-decoration: none;
}
main .intro_section .intro_btn a .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

main .intro_section .intro_btn a .btn-text {
  text-transform: uppercase;
}
